POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
N8N_BASIC_AUTH_USER=your_n8n_admin_user
N8N_BASIC_AUTH_PASSWORD=your_n8n_admin_password
N8N_DB=your_n8n_internal_db_name
